{% extends 'base.html' %} {% load static %} {% block content %}
<div>
	<div>
		<h1>Change Your Password</h1>

		<div>
			<div>
				{% include 'partials/_messages.html' %}

				<form method="post" action="">
					<fieldset>
						{% csrf_token %} {% for fm in form %}
						<div>
							{{fm.label_tag}} {{fm}}
							<small>{{fm.errors|striptags}}</small>
						</div>
						{% endfor %}
						<button type="submit">Save</button>
					</fieldset>

					{% if form.non_field_errors %} {% for error in form.non_field_errors
					%}
					<p>
						{{error}}
						<button type="button" data-dismiss="alert" aria-label="Close">
							<span>&times;</span>
						</button>
					</p>
					{% endfor %} {% endif %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
