{% extends 'base.html' %} {% load static %} {% block content %}
<div>
	{% include 'partials/_messages.html' %}

	<div>
		<h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
		<p><strong>Email:</strong> {{request.user.email}}</p>
		<p><strong>Username:</strong> {{request.user.username}}</p>
		<p>
			<a href="{% url 'store:add-address' %}">Add Address »</a>
			<a href="#">My Orders »</a>
		</p>
	</div>

	<div>
		<div>
			<div>
				<div>
					Addresses
					<span><a href="{% url 'store:add-address' %}">Add Address</a></span>
				</div>
				<div>
					{% if addresses %} {% for address in addresses %}
					<h4>Address {{forloop.counter}}</h4>

					<span
						><a href="{% url 'store:remove-address' address.id %}">🗑️</a></span
					>

					<p>
						<strong>Locality: </strong>{{address.locality}} <br />
						<strong>City: </strong>{{address.city}} <br />
						<strong>State: </strong>{{address.state}} <br />
					</p>

					<hr />
					{% endfor %} {% else %}
					<div>Address not Added.</div>
					{% endif %}
				</div>
			</div>
		</div>

		<div>
			<div>
				<div>Orders</div>
				<div>
					<table>
						<thead>
							<tr>
								<th>#</th>
								<th>Item</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							{% if orders %} {% for order in orders %}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{order.product.title}}</td>
								<td>{{order.status}}</td>
							</tr>
							{% endfor %} {% else %}
							<tr>
								<td colspan="3">You've not Ordered anything yet.</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
